{{ ansible_managed | comment }}

server {
	server_name {{ cryptpad_domain }} {{ cryptpad_sandbox_domain }};
	listen 80;
	listen [::]:80;
	return 301 https://$host$request_uri;
}


server {
	server_name {{ cryptpad_domain }} {{ cryptpad_sandbox_domain }};
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	# You'll need to Set the path to your certificates and keys here
	ssl_certificate     {{ cryptpad_nginx_tls_cert }};
	ssl_certificate_key {{ cryptpad_nginx_tls_key }};
	# diffie-hellman parameters are used to negotiate keys for your session
	# generate strong parameters using the following command:
	# openssl dhparam -out /etc/nginx/dhparam.pem 4096
	ssl_dhparam {{ cryptpad_nginx_tls_dhparam }};
	# Speeds things up a little bit when resuming a session
	ssl_session_timeout 5m;
	ssl_session_cache shared:SSL:5m;
	# You'll need nginx 1.13.0 or better to support TLSv1.3
	ssl_protocols TLSv1.2 TLSv1.3;
	# generated 2022-02-15, Mozilla Guideline v5.6, nginx 1.18.6, OpenSSL 1.1.1k, intermediate configuration, no OCSP
	# https://ssl-config.mozilla.org/#server=nginx&version=1.18.6&config=intermediate&openssl=1.1.1k&ocsp=false&guideline=5.6
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;
	ssl_session_tickets off;

{% if cryptpad_nginx_hsts %}
	add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
{% endif %}
	add_header X-XSS-Protection "1; mode=block";
	add_header X-Content-Type-Options nosniff;
	add_header Access-Control-Allow-Origin "{{ cryptpad_nginx_allowed_origins }}";

	# Opt out of Google's FLoC Network
	add_header Permissions-Policy interest-cohort=();

	set $coop '';
	#if ($uri ~ ^\/(sheet|presentation|doc)\/.*$) { set $coop 'same-origin'; }
	# Enable SharedArrayBuffer in Firefox (for .xlsx export)
	add_header Cross-Origin-Resource-Policy cross-origin;
	add_header Cross-Origin-Opener-Policy $coop;
	add_header Cross-Origin-Embedder-Policy require-corp;

	root /var/lib/cryptpad/cryptpad;
	index index.html;
	error_page 404 /customize.dist/404.html;
	
	# any static assets loaded with "ver=" in their URL will be cached for a year
	if ($args ~ ver=) {
        	set $cacheControl max-age=31536000;
    	}
	if ($uri ~ ^/.*(\/|\.html)$) {
		set $cacheControl no-cache;
	}
    	# Will not set any header if it is emptystring
    	add_header Cache-Control $cacheControl;

	# CSS can be dynamically set inline, loaded from the same domain, or from $main_domain
	set $styleSrc   "'unsafe-inline' 'self' https://{{ cryptpad_domain }}";
	
	# connect-src restricts URLs which can be loaded using script interfaces
	set $connectSrc "'self' https://{{ cryptpad_domain }} blob: wss://{{ cryptpad_domain }} https://{{ cryptpad_sandbox_domain }}";
	
	# fonts can be loaded from data-URLs or the main domain
	set $fontSrc    "'self' data: https://{{ cryptpad_domain }}";
	
	# images can be loaded from anywhere, though we'd like to deprecate this as it allows the use of images for tracking
	set $imgSrc     "'self' data: blob: https://{{ cryptpad_domain }}";
	
	# frame-src specifies valid sources for nested browsing contexts.
	# this prevents loading any iframes from anywhere other than the sandbox domain
	set $frameSrc   "'self' https://{{ cryptpad_sandbox_domain }} blob:";
	
	# specifies valid sources for loading media using video or audio
	set $mediaSrc   "blob:";
	
	# defines valid sources for webworkers and nested browser contexts
	# deprecated in favour of worker-src and frame-src
	set $childSrc   "https://{{ cryptpad_domain }}";
	
	# specifies valid sources for Worker, SharedWorker, or ServiceWorker scripts.
	# supercedes child-src but is unfortunately not yet universally supported.
	set $workerSrc  "'self'";
	
	# script-src specifies valid sources for javascript, including inline handlers
	set $scriptSrc  "'self' resource: https://{{ cryptpad_domain }}";

	# frame-ancestors specifies which origins can embed your CryptPad instance
	# this must include 'self' and your main domain (over HTTPS) in order for CryptPad to work
	# if you have enabled remote embedding via the admin panel then this must be more permissive.
	# note: cryptpad.fr permits web pages served via https: and vector: (element desktop app)
	set $frameAncestors "'self' https://{{ cryptpad_domain }}";
	# set $frameAncestors "'self' https: vector:";
	
	set $unsafe 0;
	# the following assets are loaded via the sandbox domain
	# they unfortunately still require exceptions to the sandboxing to work correctly.
	if ($uri ~ ^\/(sheet|doc|presentation)\/inner.html.*$) { set $unsafe 1; }
	if ($uri ~ ^\/common\/onlyoffice\/.*\/.*\.html.*$) { set $unsafe 1; }
	
	# everything except the sandbox domain is a privileged scope, as they might be used to handle keys
	if ($host != {{ cryptpad_sandbox_domain }}) { set $unsafe 0; }
        # this iframe is an exception. Office file formats are converted outside of the sandboxed scope
        # because of bugs in Chromium-based browsers that incorrectly ignore headers that are supposed to enable
        # the use of some modern APIs that we require when javascript is run in a cross-origin context.
        # We've applied other sandboxing techniques to mitigate the risk of running WebAssembly in this privileged scope
        if ($uri ~ ^\/unsafeiframe\/inner\.html.*$) { set $unsafe 1; }
	
	# privileged contexts allow a few more rights than unprivileged contexts, though limits are still applied
	if ($unsafe) {
	    set $scriptSrc "'self' 'unsafe-eval' 'unsafe-inline' resource: https://{{ cryptpad_domain }}";
	}
	
	# Finally, set all the rules you composed above.
	add_header Content-Security-Policy "default-src 'none'; child-src $childSrc; worker-src $workerSrc; media-src $mediaSrc; style-src $styleSrc; script-src $scriptSrc; connect-src $connectSrc; font-src $fontSrc; img-src $imgSrc; frame-src $frameSrc; frame-ancestors $frameAncestors;";

	# The nodejs process can handle all traffic whether accessed over websocket or as static assets
	# We prefer to serve static content from nginx directly and to leave the API server to handle
	# the dynamic content that only it can manage. This is primarily an optimization
	location ^~ /cryptpad_websocket {
		proxy_pass http://localhost:3000;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		
		# WebSocket support (nginx 1.4)
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection upgrade;
	}
	
	location ^~ /customize.dist/ {
		 # This is needed in order to prevent infinite recursion between /customize/ and the root
	}
	# try to load customizeable content via /customize/ and fall back to the default content
	# located at /customize.dist/
	# This is what allows you to override behaviour.
	location ^~ /customize/ {
		 rewrite ^/customize/(.*)$ $1 break;
		 try_files /customize/$uri /customize.dist/$uri;
	}

	# /api/config is loaded once per page load and is used to retrieve
	# the caching variable which is applied to every other resource
	# which is loaded during that session.
	location ~ ^/api/.*$ {
		proxy_pass http://localhost:3000;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

		# These settings prevent both NGINX and the API server
		# from setting the same headers and creating duplicates
		proxy_hide_header Cross-Origin-Resource-Policy;
		add_header Cross-Origin-Resource-Policy cross-origin;
		proxy_hide_header Cross-Origin-Embedder-Policy;
		add_header Cross-Origin-Embedder-Policy require-corp;
	}
	
	# encrypted blobs are immutable and are thus cached for a year
	location ^~ /blob/ {
		if ($request_method = 'OPTIONS') {
			add_header 'Access-Control-Allow-Origin' "{{ cryptpad_nginx_allowed_origins }}";
			add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
			add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range';
			add_header 'Access-Control-Max-Age' 1728000;
			add_header 'Content-Type' 'application/octet-stream; charset=utf-8';
			add_header 'Content-Length' 0;
			return 204;
		}
		add_header X-Content-Type-Options nosniff;
		add_header Cache-Control max-age=31536000;
		add_header 'Access-Control-Allow-Origin' "{{ cryptpad_nginx_allowed_origins }}";
		add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
		add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range,Content-Length';
		add_header 'Access-Control-Expose-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range,Content-Length';
		try_files $uri =404;
	}
	
	# the "block-store" serves encrypted payloads containing users' drive keys
	# these payloads are unlocked via login credentials. They are mutable
	# and are thus never cached. They're small enough that it doesn't matter, in any case.
	location ^~ /block/ {
		add_header X-Content-Type-Options nosniff;
		add_header Cache-Control max-age=0;
		try_files $uri =404;
	}
	
	# This block provides an alternative means of loading content
	# otherwise only served via websocket. This is solely for debugging purposes,
	# and is thus not allowed by default.
	#location ^~ /datastore/ {
		  #add_header Cache-Control max-age=0;
		  #try_files $uri =404;
	#}
	
	# The nodejs server has some built-in forwarding rules to prevent
	# URLs like /pad from resulting in a 404. This simply adds a trailing slash
	# to a variety of applications.
	location ~ ^/(register|login|settings|user|pad|drive|poll|slide|code|whiteboard|file|media|profile|contacts|todo|filepicker|debug|kanban|sheet|support|admin|notifications|teams|calendar|presentation|doc|form|report|convert|checkup)$ {
		 rewrite ^(.*)$ $1/ redirect;
	}
	
	# Finally, serve anything the above exceptions don't govern.
	try_files /www/$uri /www/$uri/index.html /customize/$uri;

	#
	# Additional config
	#
	{{ cryptpad_nginx_additional_config | indent(width=4) }}

}