{{ ansible_managed | comment }}
[Unit]
Description=Etherpad Lite
After=syslog.target network.target

[Service]
Type=simple
User=etherpad
Group=nogroup
WorkingDirectory=/var/lib/etherpad/etherpad-lite
Environment=NODE_ENV=production
ExecStart=/var/lib/etherpad/etherpad-lite/src/bin/run.sh
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
