{{ ansible_managed | comment }}

server {
	server_name {{ etherpad_domain }};
	listen 80;
	listen [::]:80;
	return 301 https://$host$request_uri;
}


server {
	server_name {{ etherpad_domain }};
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	access_log /var/log/nginx/etherpad.access.log;
	error_log  /var/log/nginx/etherpad.error.log;

	ssl_certificate     {{ etherpad_nginx_tls_cert }};
	ssl_certificate_key {{ etherpad_nginx_tls_key }};
	ssl_dhparam {{ etherpad_nginx_tls_dhparam }};
	ssl_session_timeout 5m;
	ssl_session_cache shared:SSL:5m;
	# generated 2020-12-11, Mozilla Guideline v5.6, nginx 1.14.2, OpenSSL 1.1.1d, intermediate configuration, no OCSP
	# https://ssl-config.mozilla.org/#server=nginx&version=1.14.2&config=intermediate&openssl=1.1.1d&ocsp=false&guideline=5.6
	ssl_protocols TLSv1.2 TLSv1.3;
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;
	ssl_session_tickets off;

{% if etherpad_nginx_hsts %}
	add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
{% endif %}

	location / {
		proxy_pass        http://127.0.0.1:{{ etherpad_bind_port }};
		proxy_buffering   off;
		proxy_set_header  Host $host;
		proxy_pass_header Server;
		proxy_set_header  X-Real-IP $remote_addr;
		proxy_set_header  X-Forwarded-For $remote_addr;
        	proxy_set_header  X-Forwarded-Proto $scheme;
		# WebSocket proxying - from https://nginx.org/en/docs/http/websocket.html
        	proxy_set_header  Upgrade $http_upgrade;
        	proxy_set_header  Connection $connection_upgrade;
	}

	#
	# Additional config
	#
	{{ etherpad_nginx_additional_config | indent(width=4) }}

}


# we're in the http context here
map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}